# always-auth=true
# # registry=https://repo-n3.everimaging.cn/repository/npm-group/
# registry=https://repo-n3.everimaging.cn/repository/npm-private/
# //repo-n3.everimaging.cn/repository/npm-group/:_authToken=NpmToken.ba8cf38b-4a15-3460-901e-25272a68c63d
# //repo-n3.everimaging.cn/repository/npm-private/:_authToken=NpmToken.ba8cf38b-4a15-3460-901e-25272a68c63d
